In [11]:
import pandas as pd

In [27]:
path = 'dane_zadanie2.csv'
df = pd.read_csv(path)

df.head()

,Rotation,Route,Date flt 1,Day flt 2,PAX flt 1,PAX flt 2,PAX Group flt 1,PAX Group flt 2,PAX Transit ttl,Revenue ttl,Reprotection cost ttl,Ancillary REV ttl,Beyond REV ttl,Cargo REV,VAR cost,Final ttl
0,LO3/4,WAW-ORD-WAW,2024-04-06,2024-04-06,203,170,1,0,286,1 181 958,290 102,60 021,160 909,149 563,643 581,618 769
1,LO29/30,WAW-MIA-WAW,2024-04-06,2024-04-06,201,220,52,0,369,1 367 489,322 677,73 160,159 472,202 238,873 482,606 200
2,LO45/46,WAW-YYZ-WAW,2024-04-06,2024-04-06,104,91,0,0,0,1 215 588,203 255,26 974,320 828,187 330,926 552,620 913
3,LO41/42,WAW-YYZ-WAW,2024-04-06,2024-04-06,213,211,0,0,287,1 532 594,290 850,38 598,320 828,139 850,1 157 196,583 823
4,LO79/80,WAW-NRT-WAW,2024-04-05,2024-04-06,244,231,82,67,448,2 310 015,437 828,37 275,430 835,159 983,763 615,1 736 664

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rotation               19 non-null     object
 1   Route                  19 non-null     object
 2   Date flt 1             19 non-null     object
 3   Day flt 2              19 non-null     object
 4   PAX flt 1              19 non-null     int64
 5   PAX flt 2              19 non-null     int64
 6   PAX Group flt 1        19 non-null     int64
 7   PAX Group flt 2        19 non-null     int64
 8   PAX Transit ttl        19 non-null     int64
 9   Revenue ttl            19 non-null     object
 10  Reprotection cost ttl  19 non-null     object
 11  Ancillary REV ttl      19 non-null     object
 12  Beyond REV ttl         19 non-null     object
 13  Cargo REV              19 non-null     object
 14  VAR cost               19 non-null     object
 15  Final ttl              19 non-null     object
dtypes: int64(5), object(11)
memory usage: 2.5+ KB

Analizę rozpoczniemy od pogrupowania danych w zależności od dni oraz połączmy ilość pasażerów przed i po przesiadce tak aby mieć wgląd w sumaryczną ilość przewożonych pasażerów :
grupa pierwsza od 2024-04-05 do 2024-04-06
grupa druga od 2024-04-07 do 2024-04-08
grupa trzecia od 2024-04-22 do 2024-04-23

In [47]:
df['Date flt 1'] = pd.to_datetime(df['Date flt 1'])
df['Day flt 2'] = pd.to_datetime(df['Day flt 2'])

group1_start = pd.to_datetime('2024-04-05')
group1_end = pd.to_datetime('2024-04-06')
group2_start = pd.to_datetime('2024-04-07')
group2_end = pd.to_datetime('2024-04-08')
group3_start = pd.to_datetime('2024-04-22')
group3_end = pd.to_datetime('2024-04-23')

def assign_group(date):
    if group1_start <= date <= group1_end:
        return 'Group 1'
    elif group2_start <= date <= group2_end:
        return 'Group 2'
    else:
        return 'Group 3'

df['Group'] = df['Date flt 1'].apply(assign_group)
df['PAX SUM'] = df['PAX flt 1'] + df['PAX flt 2']

Zaczniemy od analizy grupy pierwszej

In [48]:
group1_data = df[df['Group'] == 'Group 1']

group1_data

,Rotation,Route,Date flt 1,Day flt 2,PAX flt 1,PAX flt 2,PAX Group flt 1,PAX Group flt 2,PAX Transit ttl,Revenue ttl,Reprotection cost ttl,Ancillary REV ttl,Beyond REV ttl,Cargo REV,VAR cost,Final ttl,Group,PAX SUM
0,LO3/4,WAW-ORD-WAW,2024-04-06,2024-04-06,203,170,1,0,286,1 181 958,290 102,60 021,160 909,149 563,643 581,618 769,Group 1,373
1,LO29/30,WAW-MIA-WAW,2024-04-06,2024-04-06,201,220,52,0,369,1 367 489,322 677,73 160,159 472,202 238,873 482,606 200,Group 1,421
2,LO45/46,WAW-YYZ-WAW,2024-04-06,2024-04-06,104,91,0,0,0,1 215 588,203 255,26 974,320 828,187 330,926 552,620 913,Group 1,195
3,LO41/42,WAW-YYZ-WAW,2024-04-06,2024-04-06,213,211,0,0,287,1 532 594,290 850,38 598,320 828,139 850,1 157 196,583 823,Group 1,424
4,LO79/80,WAW-NRT-WAW,2024-04-05,2024-04-06,244,231,82,67,448,2 310 015,437 828,37 275,430 835,159 983,763 615,1 736 664,Group 1,475
5,LO11/12,WAW-EWR-WAW,2024-04-06,2024-04-06,240,189,0,0,372,1 185 838,352 994,60 798,140 101,192 692,875 543,350 893,Group 1,429

Na początku od razu można powiedzieć że nie zostanie usunięta rotacja LO79/80 ze względu na to że generuje bardzo wysokie przychody dla Linii lotniczych (generuje zarobki które są nieznacznie mniejsze niż zarobki wygenerowane przez 3 kolejne rotacje o najwyższych przychodach) więc nie możemy usunąć tej rotacji ponieważ byłaby to zbyt duża strata dla operatora lotu - ta rotacja nie zostanie również usunięta ze względu na największą łączną ilość pasażerów

Po dokładnym przyjrzeniu sie danym stwierdzam że rotacją którą trzeba usunąć jest rotacja o numerze LO45/46 (WAW-YYZ-WAW)
Swoje zdanie argumentuje tym, że rotacja ta posiada najmniejszą liczbę pasażerów na obu lotach dodatkowo koszty reprotekcji są najniższe spośród wszystkich innych rotacji, co minimalizuje straty finansowe lini lotniczej w przypadku skasowania tej rotacji, dodatkowo żaden z pasażerów nie przesiada się na inny lot więc usunięcie tej rotacji nie spowoduje konfilików z innymi środkami transportu dodatkowo brak grup pasażerów na tej rotacji jest dodatkowym czynnikiem, który czyni tę rotację bardziej podatną na skasowanie. Dodatkowo ze względu na niższe przychody i koszty reprotekcji, skasowanie tej rotacji będzie miało mniejszy wpływ na operacje i logistykę firmy w porównaniu do rotacji, które generują większe przychody i mają wyższe koszty reprotekcji. Jeżeli chodzi o konsekwencje wizerunkowe które poniesie firma w przypadku usunięcia tej rotacji będą one prawdopodobnie mniejsze niż w przypadku innych lotów ponieważ gdyż rotacja ma najniższa ilość pasażerów przy obu lotach oraz nie ma klientów grupowych, mniej pasażerów = mniej potencjalnych złych opinii na temat lini lotniczej dodatkowo skasowanie może wpłynąć na klientów z Toronto, ale jest to mniejszy rynek w porównaniu do innych tras (np. Nowy Jork, Miami, Tokio).

Teraz przejdzmy do analizy drugiej grupy

In [52]:
group2_data = df[df['Group'] == 'Group 2']

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

group2_data

,Rotation,Route,Date flt 1,Day flt 2,PAX flt 1,PAX flt 2,PAX Group flt 1,PAX Group flt 2,PAX Transit ttl,Revenue ttl,Reprotection cost ttl,Ancillary REV ttl,Beyond REV ttl,Cargo REV,VAR cost,Final ttl,Group,PAX SUM
6,LO71/72,WAW-DEL-WAW,2024-04-07,2024-04-08,110,201,10,98,261,865 151,122 354,18 140,232 792,149 563,620 957,522 335,Group 2,311
7,LO99/98,WAW-ICN-WAW,2024-04-07,2024-04-08,100,70,0,0,0,1 102 947,201 242,19 535,387 052,202 238,806 495,704 036,Group 2,170
8,LO79/80,WAW-NRT-WAW,2024-04-07,2024-04-08,237,223,65,92,417,1 989 476,434 454,36 987,430 835,139 850,1 132 340,1 030 354,Group 2,460
9,LO41/42,WAW-YYZ-WAW,2024-04-07,2024-04-07,226,207,1,0,264,1 529 162,299 355,39 727,320 828,237 925,823 262,1 005 024,Group 2,433
10,LO29/30,WAW-MIA-WAW,2024-04-07,2024-04-07,125,238,35,1,363,1 077 816,271 808,61 626,159 472,199 578,816 702,409 981,Group 2,363
11,LO73/74,WAW-DEL-WAW,2024-04-07,2024-04-08,110,201,10,98,261,865 151,132 942,19 709,232 792,159 983,748 046,396 647,Group 2,311
12,LO45/46,WAW-YYZ-WAW,2024-04-07,2024-04-07,226,207,1,0,264,1 529 162,376 745,49 997,320 828,139 850,1 129 653,533 438,Group 2,433
13,LO29/30,WAW-MIA-WAW,2024-04-07,2024-04-07,125,238,35,1,363,1 977 816,281 678,63 864,159 472,139 850,1 102 111,957 212,Group 2,363

Analizę zacznijmy od aspektu finansowego - najbardziej rentowna rotacja to LO79/80 (WAW-NRT-WAW) z całkowitym wynikiem 1,030,354 podobny wynik (1,005,024) przynosi rotacja LO41/42 niewiele mniej bo 957,212 przynosi rotacja o numerze LO29/30 - najmniej rentowna rotacja to rotacja o numerze LO73/74 której rentowność znacznie odbiega od pozostałych. Weźmy teraz pod uwagę aspekty operacyjne i logistyczne rotacja LO 99/98 przewozi najmniejszą sumaryczną liczbę pasażerów oraz żaden z pasażerów nie przesiada się na inny środek transportu, dodatkowo podczas tej rotacji nie ma żadnych grup pasażerów, dodatkowo rotacja ta nie ma wysokich kosztów przebookowania pasażerów na inne loty więc jej usunięcie aż tak mocno nie zaboli linii lotniczej. Usunięcie tej rotacji będzie skutkowało jednak potencjalną stratą finansową ponieważ finalny zysk z tej rotacji był 4 najwyższym wynikiem. Warto też mieć na uwadzę że 10.04.2024 w Korei obdywają się wybory parlemantarne, według danych 3362 południowych Koreańczyków zamieszkuje tereny polskie i prawdopodobnie część pasażerów lecąca z Warszawy do Korei leci właśnie na te wybory więc w sytuacji kiedy rotacja byłaby odwołana kilka dni przed planowanym wylotem byłoby to bardzo krzywdzące dla ludności Koreańskiej co mogłoby przynieść ogromne straty wizerunkowe - możliwe nawet że temat byłby poruszony w Koreańskich mediach co dodatkowo wzburzyłoby publicznie oburzenie, jednakże gdyby rotacja została odwołana odpowiednio wcześniej potencjalni głosujący mogliby głosować z Polski - jednakże taka opcja wymaga odpowiednich działań i czasu z ich strony. Mając na uwadzę tak ważne wydarzenie jak wybory nie możemy usunąć rotacji LO99/98. 

Analizując dokładnie zestawienie tabaleryczne najrosądnijeszą opcją będzie usunięcie rotacji LO71/72 lub rotacji LO73/74 - porównajmy te dwie rotacje 
Różnice między nimi to koszty reprotekcji które są niższe dla rotacji LO71/72, przychody dodatkowe które są wyższe w przypadku rotacji LO73/74 Cargo revenue też jest wyższe w przypadku rotacji LO73/74 koszty zmienne są wyższe w przypadku LO73/74 i ostatnim aspektem różniącym te dwie rotacje jest ostateczny zysk który jest na korzyść rotacji LO71/72. Analizując to wszystko rotacją na której odwołaniu mniej ucierpi firma jest rotacja o numerze LO73/74 - straty wizerunkowe w przypadku odwołania rotacji LO71/72 lub rotacji LO73/74 będą bardzo zbliżone, warto też mieć na uwadzę że są to identyczne rotacje odbywające się na trasie WAW - DEL - WAW więc być może w przypadku wolnych miejsc w rotacji LO71/72 część z pasażerów mogłaby być przekierowana na rotację LO71/72. 

Podsumowując, rotację którą trzeba usunąć to rotacja o numerze LO73/74

Teraz przejdzmy do trzeciej grupy rotacji

In [54]:
group3_data = df[df['Group'] == 'Group 3']
group3_data

,Rotation,Route,Date flt 1,Day flt 2,PAX flt 1,PAX flt 2,PAX Group flt 1,PAX Group flt 2,PAX Transit ttl,Revenue ttl,Reprotection cost ttl,Ancillary REV ttl,Beyond REV ttl,Cargo REV,VAR cost,Final ttl,Group,PAX SUM
14,LO45/46,WAW-YYZ-WAW,2024-04-22,2024-04-22,152,96,77,0,107,873 640,210 909,27 989,320 828,202 238,807 248,406 539,Group 3,248
15,LO26/27,WAW-JFK-WAW,2024-04-22,2024-04-22,181,164,144,0,367,1 036 136,352 291,68 296,174 364,237 925,812 288,352 142,Group 3,345
16,LO71/72,WAW-DEL-WAW,2024-04-22,2024-04-23,52,165,0,77,203,732 691,93 334,13 837,232 792,184 327,660 957,409 357,Group 3,217
17,LO41/42,WAW-YYZ-WAW,2024-04-22,2024-04-22,159,117,0,0,196,990 046,226 217,30 021,320 828,149 563,628 498,635 743,Group 3,276
18,LO79/80,WAW-NRT-WAW,2024-04-21,2024-04-22,220,189,56,17,318,1 541 321,387 212,32 965,430 835,124 067,892 728,849 249,Group 3,409

Analizując powyższe zestawienie widzimy że największe przychodzy generują odpowiednio: rotacja LO79/80 oraz rotacja LO41/42 dodatkowo koszt przebookowania w rotacji LO79/80 jest najwyższy oraz posiada ona największą liczbę pasażerów podczas obu lotów. Rotacja LO79/80 z pewnością nie zostanie usunięta. Rotacja o numerze LO71/72 również nie może zostać usunięta, ponieważ rotacja jest na trasie WAW - DEL - WAW a taka rotacja została odwołana 3 tygodnie później - ponowne odwołanie tej rotacji mogłoby mieć opłakane w skutkach straty wizerunkowe dla firmy która drugi raz w miesiącu odwołała rotację na tej trasie - klienci którym rotacja została odwołana dnia 07.04.2024 mogli zarezerwować kolejny lot właśnie dnia 22.04.2024 i gdyby ta rotacja znów została odwołana na pewno byliby bardzo oburzeni - zwłaszcza że tego dnia to jedyna taka rotacja na tej trasie, weźmy też pod uwagę klientów którzy polecieli inną rotacją dnia 07.04.2024 do Delhi i chcieliby 22.04.2024 wrócić do Polski - z powodu odwołania tej rotacji byłoby to niemożliwe co skutkowałoby niepochlebnymi opiniami na temat Lini lotniczej. 

Do analizy zostały nam rotacje LO45/46, LO26/27 oraz LO41/42, spórzjmy na ilość przesiadających się pasażerów - jest ona najmniejsza dla rotacji o numerze LO45/46, dodatkowo rotacja ta generuje drugie najmniejsze zyski a ponadto koszt przebookowania pasażerów jest najmniejszy spośród trzech analizowanych teraz rotacji, warto wspomnieć też że spośród trzech analizowanych przez nas rotacji podczas niej leci najmniej pasażerów - odwołanie tej rotacji jest najbardziej rozsądne więc rotacją którą odwołam będzie właśnie ta o numerze LO45/46 - jej odwołanie może odbić się na wizerunku firmy, ponieważ mamy w niej aż 77 grup pasażerów na trasie Warszawa - Toronto jednakże biorąc pod uwagę inne aspekty wizerunkowe takie jak ilość potencjalnie niezawodolonych klientów lub ilość pasażerów którzy będą się przesiadać jest to najrozsądniejsza z opcji - dodatkowo rotacja na tej samej trasie odbywa sie w tym samym dniu więc w przypadku dostępnych miejsc na rotacji LO41/42 możliwe byłoby przerzucienie właśnie tam klientów

Podsumowując
 w grupie nr1 kasuje rotacje o numerze: LO45/46
 w grupie nr2 kasuje rotację o numerze: LO73/74
 w grupie nr3 kasuje rotację o numerze: LO45/46